#tudo{
	width: 600px;
	height: 510px;
	background-image: url(../img/genius.jpg);
	margin-top: 30px;
	padding-top: 40px;
	margin: auto;
	border: 5px solid black;
	
}

#titulo{
	color: white;
	margin: auto;
	margin-left: 85px;
	margin-top: 10px;
	
}
#topo {
	border: 5px solid black;
	width: 600px;
	height: 40px;
	margin: auto;
	background: black;
}

body{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
}
section{
	width:1024px;
	height: 840px;
	margin: 0 auto;
}
header{
	width: 1024px;
	height: 160px;
	background-image:url("../img/topo.png");
}
header a:link, a:hover, a:visited{
	text-decoration: none;
}
nav{
    width: 40px;
	height: 980px;
	background-color:#c30800;
	float: left;
}
article{
	width: 769px;
    height: 515px;
    float: right;
    padding: 30px;
	
}
footer{
	width: 1024px;
	height: 50px;
	background-color: #0b7000;
	clear: both;
	text-align: center;
	color: white;
}
footer a:link, a:hover, a:visited{
	text-decoration:none;
}
a{
	text-align: left;
	font-family: Verdana, Arial;
	font-size: 15px;
	text-decoration: none;
}
/*Menu Horizontal */
.menuHorizontal {
	width:1024px;
	height:45px;
	margin: 0 auto;	
}
.menuHorizontal ul li{
	margin-left:-40px;
}
.menuHorizontal ul li{
	display: block;
	float:right;
	min-width: 80px;
	text-align: center;
	list-style-type:none;
	color:#ffffff;
	text-decoration:none;
	margin: 0 auto;
}
.menuHorizontal a:link,a:hover,a:visited{
	color:#ffffff;
	text-decoration:none;
}
.liHorizontal a:hover{
background-color:#c3b400;
}
/*Menu Vertical*/
.menuVertical {
	min-width:195px;
	height:575px;
	margin: 0 auto;
	background-color:#c3b400;	
}
.menuVertical ul li{
	list-style-image: url('../img/icon.png');
	list-style-position:inside;
	color:#ffffff;
	text-decoration:none;
}
.menuVertical a:link,a:hover,a:visited{
	color:#ffffff;
	text-decoration:none;
}
.menuVertical li{
	margin-left: 35px;
	padding-top:10px;
	padding-left:15px;
	margin: 0 auto;
}
.liVertical a:hover{
	background-color:#c30800;
	cursor:pointer;
}
.menuVertical ul{
	margin-left: -40px;
}
/*Header*/
#header {
    position: relative;
    min-height: 160px;
}
#head-text{
	position: absolute;
    bottom: 0;
    left: 0;
	background-color: #c30800;
	color: white;
}
/*Article*/
p{ 
	text-align: left;
	font-family: Verdana, Arial;
	font-size: 14px;
	text-decoration: none;
}
h2{
	text-align: left;
	font-family: Verdana, Arial;
	font-size: 24px;
	text-decoration: none;
}
video{
	display: block;
	margin: 0 auto;
}
.intro{
	text-align: center;
}
/*Genius*/
#start{
	display:block;
	width:400px;
	height:350px;
	text-align:center;
	position:relative;
	margin:0 auto;
	font-size:95px;
	color:#ffffff;
	padding-top:75px;
}
#start:hover{
	cursor:pointer;
}
#fail{
	display:block;
	width:400px;
	height:350px;
	text-align:center;
	position:relative;
	margin:0 auto;
	font-size:72px;
	color:#ffffff;
	padding-top:95px;
	display:none;
}
#fail:span{
	font-size:50px;
}
#fail:hover{
	cursor:pointer;
}
#simon{
	position:relative;
}
#count{
	position:absolute;
	top:200px;
	left:183px;
	font-size:40px;
	color:#ffffff;
	width:80px;
	text-align:center;
}
#container{
	width:450px;
	position:relative;
	margin:0 auto;
}
#first{
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 225px solid #222222;
	border-radius: 225px;
	left: 0px;
	top: 3px;
}
#a{
	position:absolute;
	display:inline-block;
	width:0;
	height:0;
	border:183px solid;
	border-color:#0b7000;
	border-bottom:none;
	border-right:none;
	border-top-left-radius:183px;
	left:33px;
	top:33px;
}
#b{
	position:absolute;
	display:inline-block;
	width:0;
	height:0;
	border:183px solid;
	border-color:#c30800;
	border-bottom:none;
	border-right:none;
	border-top-right-radius:183px;
	left:236px;
	top:33px;
}
#c{
	position:absolute;
	display:inline-block;
	width:0;
	height:0;
	border:183px solid;
	border-color:#c3b400;
	border-bottom:none;
	border-right:none;
	border-bottom-left-radius:183px;
	left:33px;
	top:236px;
}
#d{
	position:absolute;
	display:inline-block;
	width:0;
	height:0;
	border:183px solid;
	border-color:#196d85;
	border-bottom:none;
	border-right:none;
	border-bottom-right-radius:183px;
	left:236px;
	top:236px;
}
#sixth{
	position:absolute;
	display:inline-block;
	width:0;
	height:0;
	line-height:0;
	border:54px solid #222222;
	border-radius:54px;
	left:172px;
	top:172px;
}
